* {
               padding: 0;
               margin: 0 ;
               box-sizing: border-box;
}

body {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 18px;
      min-height: 100vh;
}

.hidden {
      display: none !important;
    } 
 

.container {
      display: flex;
      align-items: center;
}
.left-section {
      background-image: url(/images/bg-main-desktop.png);
      min-height: 100vh;
      width: 40%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
}
.cards {
      position: absolute;
      top: 50%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      left: 100%;
      transform: translate(-50%,-50%);
}
.front-card {
      position: relative;
      transform: translateX(-100px);
}
.card_logo {
      position: absolute;
      top: 1rem;
      left: 2rem;
}

#number {
      color: white;
      position: absolute;
      bottom: 5rem;
      left: 2rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
}
.card-info {
      color: white;
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      right: 2rem;
      display: flex;
      justify-content: space-between;
}

.back-card {
      position: relative;
}
#cvc {
      position: absolute;
      right: 3.5rem;
      top: 43%;
      color: white;
}

.right-section{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
}

.right-section form {
      display: grid;
      width: 350px;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(4,110px);
}
label {
      color: rgb(93, 91, 91);
      margin-bottom: .2rem;
    
}
input {
      padding: .5rem;
      font-size: 18px;
      border: 2px solid rgb(221, 221, 221);
      border-radius: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 appearance : none;
  margin: 0;
}
input::placeholder{
    font-family: inherit;
    color: gray;
}
input:focus{
    outline-color: hsl(249, 99%, 64%);
}

.grid-1 {
      display: flex;
      flex-direction: column;
      grid-column: 2 span;
}


.grid-2 {
      display: flex;
      flex-direction: column;
      grid-column: 2 span;
}
.grid_3{
      display: flex;
      flex-direction: column;
  }
.grid-4 {
      display: flex;
      flex-direction: column;
      grid-column: 1 span;

}
.card-information {
      display: flex;
     grid-column: 2 span;
     gap: 1rem;
}
#card-date {
      display: flex;
      flex-direction: column;
      grid-column: 1 span;
}
#card-date .two-input{
      display: flex;
}

.two-input div{
      flex-direction: column;
}

#card-date div input{
      width: 80px;
      margin-inline: .5rem;
      margin-left: 0;
 }
 
#card-cvc {
      width: 100%;
} 

#submit-btn {
    grid-column: 2 span;
    
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(89, 13, 159);
    border: none;
    border-radius: 8px;
}
/* Error Message */
.error {
      border: 2px solid red;
}
.error-message {
      gap: 0 ;
}
.error-message::after {
      content: "Can't be empty";
      color: red;
      margin-top: 1px;
      font-size: 15px;
      display: flex;
      flex-direction: row;
}
/* Incomplete number message */
.incomplete {
      border: 2px solid red;
}
.incomplete-message {
      gap: 0 ;
}
.incomplete-message ::after {
      content: "Incomplete number card!";
      color: red;
      margin-top: 3px;
      font-size: 15px;
      display: flex;
      flex-direction: row;
}



.thank {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      gap: 2em;
}

.thank p {
      color: gray;
   
} 

.continue {
      width: 100%;
      height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(89, 13, 159);
    border: none;
    border-radius: 8px;
}


/* Responsive */
@media screen and (max-width:1024px) {

      .front-card img , .back-card img,.back-card{
            width: 300px;
      }
      .card-container img{
            width: 50px;
      }
      #number{
            font-size: 1rem;
            bottom: 4rem;
            left: 2rem;
            letter-spacing: 2px;
        }

      .card-info {
            font-size: .9rem;
        }
        #cvc{
            top: 40%;
            right: 12%;
            font-size: .9rem;

        }
}
@media screen and (max-width:765px) {
      .container{
          flex-direction: column;
          min-height: 100vh;
      }
      .front-card img , .back-card img,.back-card{
            width: 250px;
      }
      .card-container img{
            width: 40px;
      
      }
      .card_logo , .card-info, #number {
            left: 1rem;
      }

      .left-section{
            width: 100%;
            min-height: 30vh;
            background-image: url('/images/bg-main-mobile.png');

      }
      .cards{
          flex-direction: column-reverse;
          left: 62%;
          top: 55%;
          gap: 0;
      }
      .back-card{
          transform: translateY(65px);
      }
      .front-card{
          z-index: 100;
      }
      .right-section{
          margin-top: 6rem;
      }
      
      
  }
  
  